<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">Google CSE SPA</div>
        <div class="panel-body">
            <div class="row ">
                <div class="col-md-6 col-md-offset-3">                 
                    <div id="custom-search-input">
                        <div class="input-group ">
                            <input type="text" class="form-control input-lg" placeholder="Find Google Images" name="search_term" id="search_term" />
                            <span class="input-group-btn">
        		                <button class="btn btn-info btn-lg" type="button" id="search_it">
        		                    <i class="glyphicon glyphicon-search"></i>
        		                </button>
        		            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="col-md-6 col-md-offset-3">
                 	<p class="results" id="results_title"> </p>
                 </div>
                <div class="container-fluid" id="images">
                </div>
                <!-- <div ng-controller="CseCtrl">
		    		<h4>{{title}}</h4>
		    	    <ul ng-repeat="img in posts">
		    		    <li><img class="responsive-img" src="{{img.link}}" /></li>
		    	    </ul>
		    	</div> -->
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('#search_term').keyup(function(event){
	    if(event.keyCode == 13){
	        var thisTerm = $('input[name="search_term"]').val();
	        getImages(thisTerm);
	    }
	});
    $('#search_it').click(function(){
    	var thisTerm = $('input[name="search_term"]').val();
    	getImages(thisTerm);
    })
    function getImages(searchTerm) {
    	var $url = "https://www.googleapis.com/customsearch/v1?key=AIzaSyDW2WlXY8pP89GKA3tH4fH9dDiWE8H6G1I&cx=003482793751288746519:oyeo8dsb7ve&q=" + searchTerm + "&searchType=image&fileType=jpg&imgSize=xxlarge&alt=json";
    	$("#images").fadeToggle( "fast", function() {
		    $(this).empty();
		  });
        $.getJSON($url)
            .done(function(data) {
                $("#results_title").html('Results for: <b>' + data.queries.request[0].searchTerms + '</b>');
                $.each(data.items, function(i, item) {
                    $("<img>").attr("src", item.link).appendTo("#images").addClass("img-responsive");
                });
                $("#images").fadeToggle();
            });
    }
    getImages("Uluwatu");

})
</script>
